<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{470.0,880.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>go.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>go1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{464.0,322.0}</string>
            <key>spriteOffset</key>
            <string>{4.0,51.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{92.0,356.0},{464.0,322.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{464.0,322.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>go2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{462.0,320.0}</string>
            <key>spriteOffset</key>
            <string>{4.0,51.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{93.0,357.0},{462.0,320.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,326.0},{462.0,320.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,648.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
