<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1194.0,2000.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>square.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>dead1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{172.0,192.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,177.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{234.0,295.0},{172.0,192.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{979.0,1742.0},{172.0,192.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>astronaut.png</string>
                <string>eat1.png</string>
                <string>win1.png</string>
            </array>
        </dict>
        <key>dead2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{131.0,192.0}</string>
            <key>spriteOffset</key>
            <string>{-10.5,178.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{244.0,294.0},{131.0,192.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1034.0,481.0},{131.0,192.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>dead3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{156.0,160.0}</string>
            <key>spriteOffset</key>
            <string>{-25.0,163.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{217.0,325.0},{156.0,160.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1034.0,675.0},{156.0,160.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>dead4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{219.0,127.0}</string>
            <key>spriteOffset</key>
            <string>{-82.5,138.5}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{128.0,366.0},{219.0,127.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{644.0,2.0},{219.0,127.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>eat2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{186.0,191.0}</string>
            <key>spriteOffset</key>
            <string>{6.0,176.5}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{233.0,296.0},{186.0,191.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{537.0,1762.0},{186.0,191.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>eat3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{154.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{-10.0,176.5}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{233.0,295.0},{154.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1014.0,1278.0},{154.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>electricityLeft.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{4.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{4.0,9.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{4.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{34.0,1984.0},{4.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>electricityMiddle.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{4.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{4.0,9.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{4.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{40.0,1984.0},{4.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>electricityRight.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{5.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{5.0,9.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{5.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{21.0,1984.0},{5.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>foodLeft.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{4.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{4.0,9.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{4.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{28.0,1984.0},{4.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>foodMiddle.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{204.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{205.0,9.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{204.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1962.0},{204.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>foodRight.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{5.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{5.0,9.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{5.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{14.0,1984.0},{5.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>hleft.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,63.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,5.0},{75.0,63.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1034.0,1016.0},{75.0,63.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>hright.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{75.0,75.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1014.0,1652.0},{75.0,75.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>ice.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{75.0,75.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{744.0,208.0},{75.0,75.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{307.0,1762.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mask.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{640.0,1136.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{640.0,1136.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>outframe.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{620.0,620.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{620.0,620.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{620.0,620.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1140.0},{620.0,620.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>ownSignal.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,34.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{34.0,34.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{34.0,34.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{208.0,1962.0},{34.0,34.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>shake.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{252.0,240.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{252.0,240.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{252.0,240.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{725.0,1742.0},{252.0,240.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>special-defence.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{75.0,75.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{821.0,274.0},{75.0,75.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>special-electricity.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{71.0,71.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{71.0,71.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{898.0,274.0},{71.0,71.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>square-electricity.png</string>
            </array>
        </dict>
        <key>special-food.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{75.0,75.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1091.0,1652.0},{75.0,75.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>special-heat.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{75.0,75.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{744.0,131.0},{75.0,75.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>special-water.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{75.0,75.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{821.0,197.0},{75.0,75.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>square-defence.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{71.0,71.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{71.0,71.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{898.0,347.0},{71.0,71.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>square-food.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{71.0,71.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{71.0,71.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{821.0,351.0},{71.0,71.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>square-heat.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{71.0,71.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{71.0,71.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{644.0,314.0},{71.0,71.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>square-signal.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{71.0,71.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{71.0,71.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{717.0,361.0},{71.0,71.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>square-water.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,74.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,1.0},{75.0,74.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{744.0,285.0},{75.0,74.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>star.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{10.0,10.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{10.0,10.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{10.0,10.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1984.0},{10.0,10.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>status.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{303.0,198.0}</string>
            <key>spriteOffset</key>
            <string>{-139.5,419.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{29.0,50.0},{303.0,198.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1762.0},{303.0,198.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>temperatureMiddle.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{41.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{41.0,9.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{41.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1973.0},{41.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vdown.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{63.0,75.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,0.0},{63.0,75.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{644.0,387.0},{63.0,75.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vup.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{75.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{75.0,75.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{898.0,197.0},{75.0,75.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>win2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{148.0,177.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,181.5}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{246.0,298.0},{148.0,177.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1014.0,1473.0},{148.0,177.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>win3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{110.0,177.0}</string>
            <key>spriteOffset</key>
            <string>{-11.0,181.5}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{254.0,298.0},{110.0,177.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1034.0,837.0},{110.0,177.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>win4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{157.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{4.5,189.5}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{246.0,282.0},{157.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1014.0,1083.0},{157.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>win5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{98.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,189.5}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{271.0,282.0},{98.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{865.0,2.0},{98.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>win6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{98.0,181.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,181.5}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{271.0,296.0},{98.0,181.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{644.0,131.0},{98.0,181.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>win7.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{157.0,477.0}</string>
            <key>spriteOffset</key>
            <string>{14.5,329.5}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{256.0,0.0},{157.0,477.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1014.0,2.0},{157.0,477.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>win8.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{388.0,600.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,268.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{126.0,0.0},{388.0,600.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{644.0,481.0},{388.0,600.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>win9.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{388.0,600.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,268.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{126.0,0.0},{388.0,600.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{624.0,1140.0},{388.0,600.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
