<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1930.0,1372.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>start3.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1140.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>进门图 5s (7).png</key>
        <dict>
            <key>spriteSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{640.0,1136.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{640.0,1136.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>进门图 5s (8).png</key>
        <dict>
            <key>spriteSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{640.0,1136.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{644.0,2.0},{640.0,1136.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>进门图 5s (9).png</key>
        <dict>
            <key>spriteSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{640.0,1136.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{640.0,1136.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1286.0,2.0},{640.0,1136.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
